.meta {
    margin-top: 4px;

    > .meta-item {
        float: left;
        margin-right: 50px;
        min-width: 80px;

        &:last-child {
            margin-right: 0;
        }

        > .meta-caption,
        > .meta-value {
            display: block;
        }

        > .meta-caption {
            font-weight: bold;
            line-height: 1.45rem;
        }
    }

}