header.hd-nav.navbar.navbar-static-top
    div.container
        div.navbar-header
            a.navbar-brand hiDev
        div.collapse.navbar-collapse#main-nav
            ul.nav.navbar-nav
                li
                    a(href="jobs.html")  Jobs
                li.active
                    a(href="companies.html") Companies
            ul.nav.navbar-nav.navbar-right
                li
                    a Sign up