/*
 * Main navigation
 *
 * Turn the `.navbar` at the top of the docs purple.
 */

.hd-nav {
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 0;
}
.bs-home-nav .bs-nav-b {
  display: none;
}
.hd-nav .navbar-brand,
.hd-nav .navbar-nav > li > a {
  font-weight: 500;
  color: #563d7c;
}
.hd-nav .navbar-nav > li > a:hover,
.hd-nav .navbar-nav > .active > a,
.hd-nav .navbar-nav > .active > a:hover {
  color: #463265;
  background-color: #f9f9f9;
}
.hd-nav .navbar-toggle .icon-bar {
  background-color: #563d7c;
}
.hd-nav .navbar-header .navbar-toggle {
  border-color: #fff;
}
.hd-nav .navbar-header .navbar-toggle:hover,
.hd-nav .navbar-header .navbar-toggle:focus {
  background-color: #f9f9f9;
  border-color: #f9f9f9;
}