$active_vacancy_card_background_color: #f9f9f9;

.vacancy-card {
  display: block;
  position: relative;
  border: solid 1px lightgray;
  border-radius: 2px;
  padding: 8px 10px;
  margin:10px 0 20px 0;
  color: inherit;
  &:hover,
  &:visited,
  &:active {
    background-color: $active_vacancy_card_background_color;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
  }
  > .position {
    margin-right: 150px;
  }
  > .organization {
    margin-right: 300px;
  }
  > .details {
    position: absolute;
    top: 16px;
    right: 0;
    text-align: right;
    padding-right: 6px;
  }
}