mixin vacancy_card(position, organization, location)
    a(href="#").vacancy-card
        h4.position= position
        p.organization= organization
        div.details
            p.type FULLTIME
            p.location= location