extends layout

include _include/vacancy-card

block title
    .
        Company page

block masthead
    h1 Informika.ru

block content
    +vacancy_card('PHP developer', 'Informika.ru', 'Russia, Moscow')
    +vacancy_card('Middle Java developer', 'Cloud solutions', 'Russia, Ufa')
    +vacancy_card('Lead Java architect', 'GROUPON', 'San-Francisco, CA')
    +vacancy_card('Lead PHP developer', 'Awesome company', 'Russia, Moscow')
    +vacancy_card('Wordpress developer', 'PromoSite.com', 'Russia, Kazan')
    +vacancy_card('PHP developer', 'Magma', 'Russia, St-Peterburg')
    +vacancy_card('PHP developer', 'Informika.ru', 'Russia, Moscow')
    +vacancy_card('Linux administrator', 'HFLabs.INC', 'GB, London')
    +vacancy_card('Operations Engineer', 'Cisco Tech', 'Turkey, Istanbul')

block right
    div.hd-sidebar
