extends layout
block content
    div.category_list
        div.container
            h2.category_list__header Vacancies
            ul.row.list-unstyled
                li.col-md-4.col-sm-6.col-xs-12
                    a.thumbnail.vacancy-card(
                    href="#"
                    )
                        div.caption
                            h4.header Backen PHP developer
                            p.organization Company Ltd.
                li.col-md-4.col-sm-6.col-xs-12
                    a.thumbnail.vacancy-card(
                    href="#"
                    )
                        div.caption
                            h4.header Backen PHP developer
                            p.organization Company Ltd.
                li.col-md-4.col-sm-6.col-xs-12
                    a.thumbnail.vacancy-card(
                    href="#"
                    )
                        div.caption
                            h4.header Backen C# developer
                            p.organization Company Ltd.