extends layout

block title
    .
        Job page

block masthead
    div.row
        div.col-md-9
            h1 Lead JAVA developer
            p
                a(href="company.html") Magma Inc.

block content
    p.lead Get the lowdown on the key pieces of Bootstrap's infrastructure, including our approach to better, faster, stronger web development.
    h3 Job description
    p Get the lowdown on the key pieces of Bootstrap's infrastructure, including our approach to better, faster, stronger web development.
    p Get the lowdown on the key pieces of Bootstrap's infrastructure, including our approach to better, faster, stronger web development.
    h3 Requirements
    p Get the lowdown on the key pieces of Bootstrap's infrastructure, including our approach to better, faster, stronger web development.
    p Get the lowdown on the key pieces of Bootstrap's infrastructure, including our approach to better, faster, stronger web development.
    h3 Benefits
    p Get the lowdown on the key pieces of Bootstrap's infrastructure, including our approach to better, faster, stronger web development.

block right
    div.hd-sidebar
