extends layout

block title
    .
        RabbitMQ page

block masthead
    h1 RabbitMQ
    p RabbitMQ is the most widely deployed open source message broker

block content
    p.lead RabbitMQ runs on many operating systems and cloud environments, and provides a wide range of developer tools for most popular languages.

block right
    div.hd-sidebar
        ul.nav.hd-sidenav
            li.active
                a(href="#") Responsibilities
            li
                a(href="#") Requirements
            li
                a(href="#") Benefits
            li
                a(href="#") Tech stack
            li
                a(href="#") Company info