extends layout

include ./mixin/job_card

block header
    .jumbotron.pb-1.pt-3.pt-5
        .container
            .row
                .col-md-8
                    h1 AWS Solutions Inc.
                    .mt-3.clearfix
                        p.float-md-left Most popular cloud computing in the world


block main
    .mr-1
        h6
            strong Active jobs
        .mt-3
            +job_card_company("Java developer", "Kazan, Russia", "90K - 160K $", "Fulltime")
            +job_card_company("Database Engineer", "Remote", "99K $", "Fulltime")
            +job_card_company("Backend developer", "Kazan, Russia", "90K - 160K $", "Fulltime")
            +job_card_company("Full-stack developer", "Kazan, Russia", "90K - 160K $", "Fulltime")


block aside
    dl.metadata
        dt.float-left.pr-2 Web-site:
        dl.clearfix http://awesomdev.com
        dt.float-left.pr-2 Email:
        dl.clearfix contact@awesomdev.com
        dt.float-left.pr-2 Headquarter:
        dl.clearfix Kazan, Russia
        dt.float-left.pr-2 Company type:
        dl.clearfix Private
        dt.float-left.pr-2.text-muted Joined:
        dl.clearfix.text-muted 3 days ago
