extends layout

block header
    .jumbotron.pb-1.pt-3.pt-5
        .container
            .row
                .col-md-8
                    h1 Companies
                    .mt-3.clearfix
                        p.float-md-left.text-secondary There are 102 companies
                .col-md-4
                    .btn-group.d-block.pt-1(role=group)
                        a(href="#").btn.btn-outline-primary.btn-block Add your company

block page