extends layout
block content
    header.hd-nav.navbar.navbar-static-top
        div.container
            div.navbar-header
                a.navbar-brand Hidev
            div.collapse.navbar-collapse#main-nav
                ul.nav.navbar-nav
                    li.active
                        a(href="#") Companies
                    li
                        a Projects
                    li
                        a Technologies
                ul.nav.navbar-nav.navbar-right
                    li
                        a Sign up
        div.hd-header
            div.container
                h1 Components
                p Over a dozen reusable components built to provide iconography, dropdowns, input groups, navigation, alerts, and much more.
        div.container.hd-container
            div.row
                div.col-md-9
                    h1.page-header Vacancies
                    include ./_include/card
                    include ./_include/card
                    include ./_include/card
                    include ./_include/card



                div.col-md-3
                    div.hd-sidebar
                        ul.nav.hd-sidenav
                            li
                                a(href="#") Section 1
                            li
                                a(href="#") Section 2
                            li
                                a(href="#") Section 3
                            li
                                a(href="#") Section 4
                            li
                                a(href="#") Section 5
                            li
                                a(href="#") Section 6
