extends layout

include ./_include/vacancy-card

block content
    include ./_include/header
    div.hd-header
        div.container
            h1 Components
            p Over a dozen reusable components built to provide iconography, dropdowns, input groups, navigation, alerts, and much more.
    div.container.hd-container
        div.row
            div.col-md-9
                h1.page-header#vacancies Vacancies
                h3#developers Developers
                +vacancy_card('PHP developer', 'Informika.ru', 'Russia, Moscow')
                +vacancy_card('Middle Java developer', 'Cloud solutions', 'Russia, Ufa')
                +vacancy_card('Lead Java architect', 'GROUPON', 'San-Francisco, CA')
                h3#q_a Q/A
                +vacancy_card('Lead PHP developer', 'Awesome company', 'Russia, Moscow')
                +vacancy_card('Wordpress developer', 'PromoSite.com', 'Russia, Kazan')
                +vacancy_card('PHP developer', 'Magma', 'Russia, St-Peterburg')
                h3#sales Sales
                +vacancy_card('PHP developer', 'Informika.ru', 'Russia, Moscow')
                h3#operations Operations
                +vacancy_card('Linux administrator', 'HFLabs.INC', 'GB, London')
                +vacancy_card('Operations Engineer', 'Cisco Tech', 'Turkey, Istanbul')



            div.col-md-3
                div.hd-sidebar
                    ul.nav.hd-sidenav
                        li.active
                            a(href="#") Vacancies
                            ul.nav
                                li
                                    a(href="#developers") Developers
                                li
                                    a(href="#q_a") Q/A
                                li
                                    a(href="#sales") Sales
                                li
                                    a(href="#operations") Operations
                        li
                            a(href="#") Section 2
                        li
                            a(href="#") Section 3
                        li
                            a(href="#") Section 4
                        li
                            a(href="#") Section 5
                        li
                            a(href="#") Section 6
