extends layout

block header
    .jumbotron.pb-1.pt-3.pt-5
        .container
            .row
                .col-md-8
                    h1 AWS Solutions Inc.
                    .mt-3.clearfix
                        p.float-md-left Most popular cloud computing in the world


block main
    .mr-1
        h6
            strong Active jobs
        .mt-3
            a(href="job.html").card.mb-2
                .card-body
                    .float-left
                        h5.card-title PHP Developer
                        .card-subtitle
                            span.mr-5 90-160K $
                            span.text-secondary Kazan, Russia
                    .float-right
                        span.card-subtitle.text-muted FULLTIME
            a(href="job.html").card.mb-2
                .card-body
                    .float-left
                        h5.card-title Database Engineer
                        h6.card-subtitle.text-muted Remote
                    .float-right
                        span.card-subtitle.text-muted FULLTIME
            a(href="job.html").card.mb-2
                .card-body
                    .float-left
                        h5.card-title PHP Developer
                        h6.card-subtitle.text-muted Berlin, Germany
                    .float-right
                        span.card-subtitle.text-muted FULLTIME


block aside
    dl.metadata
        dt.float-left.pr-2 Web-site:
        dl.clearfix http://awesomdev.com
        dt.float-left.pr-2 Email:
        dl.clearfix contact@awesomdev.com
        dt.float-left.pr-2 Headquarter:
        dl.clearfix Kazan, Russia
        dt.float-left.pr-2 Company type:
        dl.clearfix Private
        dt.float-left.pr-2.text-muted Joined:
        dl.clearfix.text-muted 3 days ago
