extends layout

block header
    .jumbotron.pb-1.pt-3.pt-5
        .container
            h1 Companies
            ol.breadcrumb.pl-0.mb-0
                li.breadcrumb-item
                    a(href="index.html") Home
                li.breadcrumb-item.active Companies

block page