extends layout

block header
    .container.clearfix.clearfix.mt-4.mb-2
        .masthead.float-left
            h1 AWS Solutions Inc.
            p.lead.mt-3


        .meta.float-right.mt-3
            .meta-item
                .meta-caption.text-muted Web-site
                .meta-value.mt-1
                    a(href="#") http://awesome.dev
            .meta-item
                .meta-caption.text-muted Headquarter
                .meta-value.mt-1 Kazan, Russia
            .meta-item
                .meta-caption.text-muted Founded
                .meta-value.mt-1 2012

block main
    .description
        h4 Jobs
        .jobs
            a(href="job.html").card
                .card-body
                    .float-left
                        h4.card-title PHP Developer
                        h6.card-subtitle Kazan, Russia
                    .float-right
                        span.card-subtitle FULLTIME
            a(href="job.html").card
                .card-body
                    .float-left
                        h4.card-title Database Engineer
                        h6.card-subtitle Remote
                    .float-right
                        span.card-subtitle FULLTIME
            a(href="job.html").card
                .card-body
                    .float-left
                        h4.card-title PHP Developer
                        h6.card-subtitle Berlin, Germany
                    .float-right
                        span.card-subtitle FULLTIME



    .extra
        p.text-muted Joined at 2017.08.23

block aside
