extends layout

block body
    .container
        .row.justify-content-center
            .col-5.pt-5
                .alert.alert-light(role="alert")
                    h4.alert-heading Well done!
                    p Activation link successfully sent. Please, check your email and follow the instructions
                    hr
                    p.mb-0 If you doesn't receive activation email. You can request it one more time.


