extends layout-employer

block tabs
    ul.nav.nav-tabs.card-header-tabs
        li.nav-item
            a(href="employer-profile.html").nav-link.active Profile
        li.nav-item
            a(href="employer-contact.html").nav-link Contact

block form
    .container
        .row
            .col
                .form-group
                    label(for="company_name") Company name:
                    input(type="text" placeholder="Example Corp.").form-control#company_name

                .form-group
                    label(for="company_location") Headquarter:
                    input(type="text" placeholder="Innopolis, Russia" aria-labelledby="company_location_help").form-control#company_location
                    small#company_location_help.form-text.text-muted Company head office location
        .row
            .col
                .form-group
                    label(for="company_size") Size:
                    select.form-control#company_size
                        option Select stuff count
                        option 1-10
                        option 10-50
                        option 50-100
                        option 100-1000
                        option 1000+
                .form-group
                    label(for="company_type") Company type:
                    select.form-control#company_type
                        option Private
                        option Public
                        option Other
            .col
                .form-group
                    label(for="company_website") Web-site:
                    input(type="text" placeholder="http://example.com").form-control#company_website
                .form-group
                    label(for="company_email") E-mail:
                    input(type="text" placeholder="info@example.com").form-control#company_email
                    small#company_email_help.form-text.text-muted Public e-mail. Don't use your account email here!

        .row
            .col.text-right
                button.btn.btn-primary Save changes




