extends layout-employer

block tabs
    ul.nav.nav-tabs.card-header-tabs
        li.nav-item
            a(href="#").nav-link.active Active
        li.nav-item.mr-auto
            a(href="employer-nojobs.html").nav-link.disabled Archive
        li.nav-item
            a(href="#").btn.btn-outline-primary Create job

block form
    .text-center
        h4.card-title There are no active jobs
        p.card-text Create new job a start hiring flow
        a(href="#").btn.btn-primary Create new Job

