extends layout-employer

block tabs
    ul.nav.nav-tabs.card-header-tabs
        li.nav-item
            a(href="#").nav-link.active Active
        li.nav-item.mr-auto
            a(href="employer-nojobs.html").nav-link.disabled Archive
        li.nav-item
            a(href="#").btn.btn-outline-primary Create job

block form
    table.table.table-striped
        tbody
            tr
                td Java developer
                    small.d-block Senior Java developer
                td Active
                td
            tr
                td Salesman
                    small.d-block Sales for prod
                td Active
                td
            tr
                td Java developer
                    small.d-block Senior Java developer
                td Active
                td
            tr
                td Salesman
                    small.d-block Sales for prod
                td Active
                td
            tr
                td Java developer
                    small.d-block Senior Java developer
                td Active
                td
            tr
                td Salesman
                    small.d-block Sales for prod
                td Active
                td


    ul.pagination.justify-content-center
        li.page-item
            a.page-link
                span(aria-hidden="true") &laquo;
                span.sr-only Previous
        li.page-item.active
            span.page-link 1
            span.sr-only (current)
        li.page-item
            a(href="#").page-link 2
        li.page-item
            a(href="#").page-link 3
        li.page-item
            a(href="#").page-link 4
        li.page-item
            a.page-link
                span(aria-hidden="true") &raquo;
                span.sr-only Next
