extends layout-employer

block tabs
    ul.nav.nav-tabs.card-header-tabs
        li.nav-item
            a(href="#").nav-link.active Active
        li.nav-item.mr-auto
            a(href="employer-nojobs.html").nav-link.disabled Archive
        li.nav-item
            a(href="#").btn.btn-outline-primary Create job

block form
    table.table.table-striped
        thead
            tr
                th ID
                th Job
                th Status
                th Applications
        tbody
            tr
                td 1
                td Java developer
                    small.d-block Senior Java developer
                td Active
                td
            tr
                td 2
                td Salesman
                    small.d-block Sales for prod
                td Active
                td
            tr
                td 1
                td Java developer
                    small.d-block Senior Java developer
                td Active
                td
            tr
                td 2
                td Salesman
                    small.d-block Sales for prod
                td Active
                td
            tr
                td 1
                td Java developer
                    small.d-block Senior Java developer
                td Active
                td
            tr
                td 2
                td Salesman
                    small.d-block Sales for prod
                td Active
                td
