extends layout
block content
    div.hd-categories
        div.container
            h2.text-center.hd-categories-heading Vacancies
            ul.hd-category.row.list-unstyled
                li.col-md-4.col-sm-6.col-xs-12
                    a.thumbnail.vacancy-card(
                    href="#"
                    )
                        div.caption
                            h4.header Backen PHP developer
                            p.organization Company Ltd.
                li.col-md-4.col-sm-6.col-xs-12
                    a.thumbnail.vacancy-card(
                    href="#"
                    )
                        div.caption
                            h4.header Backen PHP developer
                            p.organization Company Ltd.
                li.col-md-4.col-sm-6.col-xs-12
                    a.thumbnail.vacancy-card(
                    href="#"
                    )
                        div.caption
                            h4.header Backen GO developer
                            p.organization Company Ltd.