extends layout

include ./mixin/job_card

block header
    .jumbotron
        .container
            h1 Job portal for IT companies
            p.lead Publish required skills, share projects and build communications
            p.lead
                button.btn.btn-primary Sign up
                button.btn.btn-secondary Read more...

block page
    .container
        .row
            .col
                h5.text-uppercase Latest jobs
        .row.mb-2
            .col
                +job_card_front("PHP Developer", "Lambda Inc", "Kazan, Russia", "5000 $", "Fulltime")
            .col
                +job_card_front("Database Engineer", "Cognitive Technologies", "Remote", "80K-120K Rub.", "Fulltime")
        .row.mb-2
            .col
                +job_card_front("Sales manager", "Universal Design Partners", "Moscow, Russia", "60K-200K Rub.", "Fulltime")
            .col
                +job_card_front("HEAD HR Generalist", "Universal Design Partners", "Moscow, Russia", "60K-200K Rub.", "Fulltime")
        .row.mb-2
            .col
                +job_card_front("Frontend developer", "Showbiz Pizza Place", "CA, USA", "100K Rub.", "Fulltime")
            .col
                +job_card_front("Sales manager", "Incredible Universe", "Manchester, United Kingdom", "56K EUR", "Fulltime")

    .container
        .row
            .col
                h5.text-uppercase Companies

        .row.mb-2
            .col
                a(href="company.html").card
                    .card-body
                        h5.card-title Showbiz Pizza Place
                            span.badge.badge-secondary.float-right 9
            .col
                a(href="company.html").card
                    .card-body
                        h5.card-title Incredible Universe
                            span.badge.badge-secondary.float-right 2
            .col
                a(href="company.html").card
                    .card-body
                        h5.card-title Universal Design Partners
                            span.badge.badge-secondary.float-right 78