extends layout

block header
    .jumbotron
        .container
            h1 Job portal for IT companies
            p.lead Publish required skills, share projects and build communications
            p.lead
                button.btn.btn-primary Sign up
                button.btn.btn-secondary Read more...

block page
    .container
        .row
            .col
                h5.text-uppercase Latest jobs
        .row.mb-2
            .col
                a(href="job.html").card
                    .card-body
                        .float-left
                            h5.card-title PHP Developer
                            .card-subtitle
                                    span.text-muted.mr-4 Lambda Inc
                                    span.text-muted Kazan, Russia
                        .float-right
                            span.card-subtitle.text-muted FULLTIME
            .col
                a(href="job.html").card.mb-2
                    .card-body
                        .float-left
                            h5.card-title Database Engineer
                            .card-subtitle
                                span.text-muted.mr-4 Cognitive Technologies
                                span.text-muted Remote
                        .float-right
                            span.card-subtitle.text-muted FULLTIME
        .row.mb-2
            .col
                a(href="job.html").card
                    .card-body
                        .float-left
                            h5.card-title Head HR Generalist
                            .card-subtitle
                                span.text-muted.mr-4 Young
                                span.text-muted Tomsk, Russia
                        .float-right
                            span.card-subtitle.text-muted FULLTIME
            .col
                a(href="job.html").card.mb-2
                    .card-body
                        .float-left
                            h5.card-title Sales manager
                            .card-subtitle
                                span.text-muted.mr-4 Universal Design Partners
                                span.text-muted Moscow, Russia
                        .float-right
                            span.card-subtitle.text-muted FULLTIME
        .row.mb-2
            .col
                a(href="job.html").card
                    .card-body
                        .float-left
                            h5.card-title Head HR Generalist
                            .card-subtitle
                                span.text-muted.mr-4 Showbiz Pizza Place
                                span.text-muted CA, USA
                        .float-right
                            span.card-subtitle.text-muted FULLTIME
            .col
                a(href="job.html").card.mb-2
                    .card-body
                        .float-left
                            h5.card-title Sales manager
                            .card-subtitle
                                span.text-muted.mr-4 Incredible Universe
                                span.text-muted Manchester, United Kingdom
                        .float-right
                            span.card-subtitle.text-muted FULLTIME
    .container
        .row
            .col
                h5.text-uppercase Companies

        .row.mb-2
            .col
                a(href="#").card
                    .card-body
                        h5.card-title Showbiz Pizza Place
            .col
                a(href="#").card
                    .card-body
                        h5.card-title Incredible Universe
            .col
                a(href="#").card
                    .card-body
                        h5.card-title Young
            .col
                a(href="#").card
                    .card-body
                        h5.card-title Universal Design Partners