extends layout

block content
    include ./_include/header
    div.hd-header
        div.container
            h1 Lead JAVA developer
            p Over a dozen reusable components built to provide iconography, dropdowns, input groups, navigation, alerts, and much more.