extends layout

block header
    .jumbotron.pb-1.pt-3.pt-5
        .container
            .row
                .col-md-8
                    h1 Scala Developer/Team-lead for serious challanges
                    .mt-3.clearfix
                        p.float-md-left
                            span.mr-5 90-160K $
                                span.text-muted.ml-1 Gross
                            a(href="#") Awesome Corp
                            span.text-muted.pl-2.pr-2 &ndash;
                            span.text-muted Russia, Moscow
                .col-md-4
                    .btn-group.d-block.pt-1(role=group)
                        a(href="#").btn.btn-outline-primary.btn-block Apply

block main
    p.mb-0
        strong Stack
    .lead.text-lowercase
        span.mr-1.badge.badge-secondary PHP7
        span.mr-1.badge.badge-secondary Symfony
        span.mr-1.badge.badge-secondary Doctrine
        span.mr-1.badge.badge-secondary Postgres
        span.mr-1.badge.badge-secondary Nginx
        span.mr-1.badge.badge-secondary Slack
        span.mr-1.badge.badge-secondary Jira
        span.mr-1.badge.badge-secondary Scrum/Agile

    .description.mt-2.mr-1
        h4 About this job
        p Maecenas tristique dictum dui ut malesuada. Suspendisse a auctor lectus, non commodo nunc. Phasellus rhoncus a urna eget ultrices. Ut vulputate eros eu augue tincidunt semper. Cras a sapien magna. Pellentesque eu pretium massa, id elementum mi.

        h4 Requirements
        p Maecenas tristique dictum dui ut malesuada. Suspendisse a auctor lectus, non commodo nunc. Phasellus rhoncus a urna eget ultrices. Ut vulputate eros eu augue tincidunt semper. Cras a sapien magna. Pellentesque eu pretium massa, id elementum mi.

        h4 Benefits
        p Maecenas tristique dictum dui ut malesuada. Suspendisse a auctor lectus, non commodo nunc. Phasellus rhoncus a urna eget ultrices. Ut vulputate eros eu augue tincidunt semper. Cras a sapien magna. Pellentesque eu pretium massa, id elementum mi.



block aside
    dl.metadata
        dt.float-left.pr-2 Job Type:
        dl.clearfix Permanent
        dt.float-left.pr-2 Required experience:
        dl.clearfix 3-6 year
        dt.float-left.pr-2 Company type:
        dl.clearfix Private
        dt.float-left.pr-2.text-muted Posted at:
        dl.clearfix.text-muted 3 days ago

