extends layout

block header
    .container.clearfix.mt-4.mb-2
        .masthead.float-left
            h1 Scala Developer/Team-lead
            p.lead.mt-3
                a.mr-5(href="#") Awesome Corp
                span.text-muted Russia, Moscow

        .meta.float-right
            .meta-item
                .meta-caption.text-muted Salary
                .meta-value.mt-1 1500-18000 USD
            .meta-item
                .meta-caption.text-muted Job type
                .meta-value.mt-1 FULLTIME
            .meta-item
                .meta-caption.text-muted Experience
                .meta-value.mt-1 3-6 year

block main
    .stack
        span.stack-tech.badge.badge-info PHP7
        span.stack-tech.badge.badge-info Symfony
        span.stack-tech.badge.badge-info Doctrine
        span.stack-tech.badge.badge-info Postgres
        span.stack-tech.badge.badge-info Nginx
        span.stack-tech.badge.badge-info Slack
        span.stack-tech.badge.badge-info Jira
        span.stack-tech.badge.badge-info Scrum/Agile

    .description
        h4 About this job
        p Maecenas tristique dictum dui ut malesuada. Suspendisse a auctor lectus, non commodo nunc. Phasellus rhoncus a urna eget ultrices. Ut vulputate eros eu augue tincidunt semper. Cras a sapien magna. Pellentesque eu pretium massa, id elementum mi.

        h4 Requirements
        p Maecenas tristique dictum dui ut malesuada. Suspendisse a auctor lectus, non commodo nunc. Phasellus rhoncus a urna eget ultrices. Ut vulputate eros eu augue tincidunt semper. Cras a sapien magna. Pellentesque eu pretium massa, id elementum mi.

        h4 Benefits
        p Maecenas tristique dictum dui ut malesuada. Suspendisse a auctor lectus, non commodo nunc. Phasellus rhoncus a urna eget ultrices. Ut vulputate eros eu augue tincidunt semper. Cras a sapien magna. Pellentesque eu pretium massa, id elementum mi.

    .extra
        p.text-muted Published at 2017.08.23 15.00


block aside
    button.btn.btn-success.btn-block Apply now

