extends layout

block title
    .
        Job page

block masthead
    div.row
        div.col-md-9
            h1 Lead JAVA developer
            p
                a(href="company.html") Magma .Inc
        div.col-md-3.job-terms
            p.lead.salary 150 000
                span.currency Rub.
            div.addition Per mount, without vats
            div.addition Fulltime, Only remote
    div.row
        div.col-md-12
            ul.tech-stack
                li PHP
                li Symfony
                li nginx
                li Laravel
                li Composer
                li SOLID
                li Postgres
                li dependency injection

block content
    p.lead Get the lowdown on the key pieces of Bootstrap's infrastructure, including our approach to better, faster, stronger web development.

block right
    div.hd-sidebar
        ul.nav.hd-sidenav
            li.active
                a(href="#") Responsibilities
            li
                a(href="#") Requirements
            li
                a(href="#") Benefits
            li
                a(href="#") Tech stack
            li
                a(href="#") Company info