extends layout

include ./mixin/job_card

block header
    .jumbotron.pb-1.pt-3.pt-5
        .container
            .row
                .col-md-8
                    h1 Find jobs
                    .mt-3.clearfix
                        p.float-md-left.text-secondary There are 102 active jobs
                .col-md-4
                    .btn-group.d-block.pt-1(role=group)
                        a(href="#").btn.btn-outline-primary.btn-block Post a job


block main
    .clearfix
        +job_card("Database Engineer", "KROK", "Moscow, Russia", "155-200K Rub.", "Fulltime")
        +job_card("Senior Scala Developer/Teamled", "InnoData", "Innopolis, Russia", "110K $", "Fulltime")
        +job_card("Frontend Developer", "Global Universe", "Berlin, Germany", "155-200K Rub.", "Fulltime")
        +job_card("Q/A Engineer", "Cognitive Technologies", "CA, USA", "80K - 100K $", "Fulltime")
        +job_card("Business Analyst", "Teamwork Ltd.", "Remote only", "20K $", "Parttime")

    nav.mt-4.mb-3
        ul.pagination
            li.page-item
                a.page-link
                    span(aria-hidden="true") &laquo;
                    span.sr-only Previous
            li.page-item.active
                span.page-link 1
                span.sr-only (current)
            li.page-item
                a(href="#").page-link 2
            li.page-item
                a(href="#").page-link 3
            li.page-item
                a(href="#").page-link 4
            li.page-item
                a.page-link
                    span(aria-hidden="true") &raquo;
                    span.sr-only Next

block aside
