<!DOCTYPE html>
html(lang='ru')
    head
        meta(charset='utf-8')
        block title
            title Page title here
        block styles
            link(rel='stylesheet' href='css/bootstrap.css')
            link(rel='stylesheet' href='css/styles.css')
    body
        block body
            .bg-hidev
                div.container
                        nav.nav.navbar.navbar-expand-lg.navbar-dark.pl-0.pr-0
                            a.navbar-brand.brand-small(href="index.html") hidev.io
                            .collapse.navbar-collapse
                                ul.navbar-nav.mr-auto
                                    li.nav-item
                                        a(href="jobs.html").nav-link.active Jobs
                                    li.nav-item
                                        a(href="companies.html").nav-link Companies
                                ul.navbar-nav.my-2.my-lg-0
                                    li.nav-item.dropdown
                                        a(href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false").nav-item.nav-link.dropdown-toggle#user_actions User name
                                        .dropdown-menu.dropdown-menu-right(aria-labelledby="user_actions")
                                            a(href="user-account.html").dropdown-item My account
                                            a(href="employer-profile.html").dropdown-item Employer profile
                                            .dropdown-divider
                                            a(href="#").dropdown-item Sign out


            header
                block header


            block page
                .container
                    .row
                        .col-8
                            main(role="main")
                                block main
                                    .stack
                                        span.stack-tech.badge.badge-info PHP7
                                        span.stack-tech.badge.badge-info Symfony
                                        span.stack-tech.badge.badge-info Doctrine
                                        span.stack-tech.badge.badge-info Postgres
                                        span.stack-tech.badge.badge-info Nginx
                                        span.stack-tech.badge.badge-info Slack
                                        span.stack-tech.badge.badge-info Jira
                                        span.stack-tech.badge.badge-info Scrum/Agile

                                    .description
                                        h4 About this job
                                        p Maecenas tristique dictum dui ut malesuada. Suspendisse a auctor lectus, non commodo nunc. Phasellus rhoncus a urna eget ultrices. Ut vulputate eros eu augue tincidunt semper. Cras a sapien magna. Pellentesque eu pretium massa, id elementum mi.

                                        h4 Requirements
                                        p Maecenas tristique dictum dui ut malesuada. Suspendisse a auctor lectus, non commodo nunc. Phasellus rhoncus a urna eget ultrices. Ut vulputate eros eu augue tincidunt semper. Cras a sapien magna. Pellentesque eu pretium massa, id elementum mi.

                                        h4 Benefits
                                        p Maecenas tristique dictum dui ut malesuada. Suspendisse a auctor lectus, non commodo nunc. Phasellus rhoncus a urna eget ultrices. Ut vulputate eros eu augue tincidunt semper. Cras a sapien magna. Pellentesque eu pretium massa, id elementum mi.

                                    .extra
                                        p.text-muted Posted: 2017.08.23 15.00
                        .col-4
                            aside
                                block aside
                                    button.btn.btn-success.btn-block Apply now

        block scripts
            script(src='/js/scripts.js')






