extends layout-user

block header

block navbar
    .list-group
        a(href="employer-jobs.html").list-group-item.list-group-item-action.active Jobs
        a(href="employer-profile.html").list-group-item.list-group-item-action Employer profile
        a(href="user-account.html").list-group-item.list-group-item-action Account
        a(href="#").list-group-item.list-group-item-action.disabled Flush
