<!DOCTYPE html>
html(lang='ru')
    head
        meta(charset='utf-8')
        block title
            title Page title here
        block styles
            link(rel='stylesheet' href='css/bootstrap.css')
            link(rel='stylesheet' href='css/styles.css')
    body
        block main
            .bg-primary
                div.container
                    nav.navbar.navbar-dark.navbar-expand-lg
                        a.navbar-brand(href="#") hidev

            header
                .container

