extends layout

block header

block page
    .container
        .row
            .col.col-md-3.pt-4
                block navbar
                    .list-group
                        a(href="user-account.html").list-group-item.list-group-item-action Account
                        a(href="#").list-group-item.list-group-item-action.disabled Profile
            .col.col-md-9.pt-4
                block content
                    .card
                        .card-header
                            block tabs
                        .card-body.pl-0.pr-0
                            block form