extends layout

block body
    .container
        .row.justify-content-center
            .col-5.pt-5
                .alert.alert-danger(role="alert")
                    button(type="button").close
                        span(aria-hidden="true") &times;
                    | Requested email not found
                .card
                    .card-body
                        h5.card-title Resetting password
                        form
                            .form-group
                                label(for="user_email").sr-only Email
                                input(type="email" placeholder='Email address').form-control#user_email

                            .form-group
                                small.form-text.text-secondary Please enter your email address and we will send you an email with instructions for resetting your password

                            .clearfix
                                button(type="submit").btn.btn-primary.float-left.pr-5.pl-5 Reset
                                a(href="signin.html").btn.btn-link.float-right.pr-0 Back to Sign In

