extends layout
block content
    div.container.container-starter
        h1.text-center Most amazing companies, IT jobs, technologies and developers here!
        h3.text-center.text-uppercase Coming soon...
