extends layout-user

block tabs
    ul.nav.nav-tabs.card-header-tabs
        li.nav-item
            a(href="user-account.html").nav-link.active Account
        li.nav-item
            a(href="user-password.html").nav-link Password
block form
    .container
        .row
            .col
                p.card-text
                    strong.mr-3 username@host.loc
                    | -
                    span.badge.badge-success.ml-3 Approved
