extends layout-user

block tabs
    ul.nav.nav-tabs.card-header-tabs
        li.nav-item
            a(href="user-account.html").nav-link Account
        li.nav-item
            a(href="user-password.html").nav-link.active Password
block form
    .container
        .row
            .col
                h6.card-title Change password
                .form-group
                    input(type="password" placeholder="Current password").form-control#current_password
                .form-group
                    input(type="password" placeholder="New password").form-control#new_password
                .form-group
                    input(type="password" placeholder="Repeat new password").form-control#repeat_new_password
        .row
            .col.text-right
                button.btn.btn-primary Update password
